

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.animate-fade-in-left {
    animation: fadeInLeft 1s ease;
}

.custom-button {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: bold;
}

/* Hover effect for images */
.img-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Link Styles */
.link-heading {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.link-heading:hover {
    text-decoration: underline;
}

/* Feature Section Styles */
.feature {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Membership Section Styles */
.membership-button {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.membership-button:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

/* Footer Styles */
footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
}

footer a.text-white {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

footer a.text-white:hover {
    color: #FFA500;
    text-decoration: none;
}


